<!doctype html>
<html>
  <head>
    {% block head %}
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width" />

  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/foundation.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/app.css') }}">

  <script src="{{ url_for('static', filename='javascripts/modernizr.foundation.js') }}"></script>

    {% endblock %}
  </head>
<body>
    <div class="row">
    <div class="eight columns" style="text-align:right;">
      <ul class="breadcrumbs" style="background:none;border:none;">
      <li><a href="https://github.com/mazieres/crawtext">Source code</a></li>
      <li><a href="mailto:contact@cortext.fr">Contact</a></li>
      <li><a href="#" data-reveal-id="aboutModal">About</a></li>
      </ul>
    </div>
  </div>

  <div id="aboutModal" class="reveal-modal">
    <h2>About Crawtext</h2>
    <br />
    <p>Crawtext provides you precise insights on web communities and content regarding a query of your choice.</p>
    <p>Created by <a href="https://github.com/mazieres" target="_blank">@mazieres</a>,<a href="https://github.com/jphcoi" target="_blank">@jphcoi</a> and <a href="https://github.com/mogoutov" target="_blank">@mogoutov</a> along with the <a href="http://www.cortext.fr" target="_blank">Cortext</a> team.</p>
    <p>More info on <a href="https://github.com/mazieres/crawtext/" target="_blank">Github</a>.</p>
    <a class="close-reveal-modal">×</a>
  </div>
  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">
    {% block footer %}
	 <!-- <br />
   <hr />
     <a href="https://github.com/mazieres/crawtext">Source code</a> | <a href="mailto:contact@cortext.fr">Contact</a> -->
    {% endblock %}
  </div>
    <!-- Included JS Files (Compressed) -->
  <script src="{{ url_for('static', filename='javascripts/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='javascripts/foundation.min.js') }}"></script>
  
  <!-- Initialize JS Plugins -->
  <script src="{{ url_for('static', filename='javascripts/app.js') }}"></script>
</body>