{% extends "base.html" %}
{% block title %}Crawtext{% endblock %}
{% block content %}

  <div class="row" style="margin-top:100px;">
    <div class="eight columns">
    	<h1 style="font-weight:lighter;">Crawtext</h1>
    	<p style="font-size:24px;font-weight:lighter;">{{ pitch }}</p>
    	<br />
    	<p><img src="{{ url_for('static', filename='images/infinity.jpg') }}" align="right"></p>
	</div>

  	<div class="four columns">
  		<br />
  		<p style="padding-top: 200px;text-align:left;"><a href="{{ url_for('set_crawler') }}" class="large secondary button">Start a Crawl</a></p>
  	</div>
  </div>


  <!-- <div class="row">
    <div class="four columns" align="">
  		  		<p style="font-size:12px; text-align:justify">Crawtext provides you precise insights on web communities and content regarding a query of your choice.</p>

  	</div>
  </div> -->



<!-- 
  <div class="row">
  	<div class="eight columns">
  		
  	</div>
  </div> -->



<!-- <form action="{{ url_for('start_crawler') }}" method=post>
Query :: <input type="text" name="query" value="">
<br />
Depth :: <input type="number" name="depth" value="2">
<br />
Email :: <input type="text" name="email" value="name@mail.com">
<br />
<input type="submit" value="Start Crawl">
</form> -->

{% endblock %}